<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

   <div th:replace="/admin/layout/header :: header"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
   <div th:replace="/admin/layout/sidebar :: sidebar"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <h1>Chao mung den voi tran guan tri</h1>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="/admin/layout/footer :: footer"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/jquery-ui.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/adminlte.min.js}"></script>
<script th:src="@{/resources/js/dashboard.js}"></script>
<script th:src="@{/resources/tinymce/tinymce.min.js}"></script>
<script th:src="@{/resources/tinymce/config.js}"></script>
<script th:src="@{/resources/js/function.js}"></script>
</body>
</html>
